* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BASE */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
.header {
}

/* NAVBAR */
.navbar {
    // background-color: rgb(201, 196, 196);
    background-color: #fff;

    .navbar-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        min-height: 75px;
        max-height: 75px;

        margin: 0px 40px;

        .navbar-logo {
        }

        .navbar-item {
            ul {
                list-style-type: none;
                padding: 0 0;
                margin: 0 0;

                li {
                    display: inline;
                    padding: 0;
                    margin: 0;

                    a {
                        text-decoration: none;

                        color: #1f1f1f;

                        font: normal 400 15px/22px "Inter";
                    }
                }

                li + li {
                    padding-left: 28px;
                }
            }
        }
    }
}

/* HERO */

.hero {
    max-height: 800;
    min-height: 800px;
    width: 100%;

    margin-bottom: 60px;

    .hero-text {
        .hero-title {
            padding-top: 50px;
            padding-left: 37px;
            margin-bottom: 35px;
            max-width: 935px;

            font: normal 700 72px/90px "Inter";
            letter-spacing: 125%;
            color: #1f1f1f;
        }

        .hero-desc {
            display: flex;
            align-items: center;
            justify-content: right;

            padding-right: 80px;

            .hero-desc-text {
                display: flex;
                align-items: start;
                flex-direction: column;

                min-width: 350px;
                max-width: 350px;
                min-height: 180px;
                max-height: 180px;

                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;

                /* or 150% */
                letter-spacing: 0.2px;

                color: #1f1f1f;
            }

            .hero-desc-text + .hero-desc-text {
                padding-left: 45px;
            }
        }
    }
}

/* RECENT WORK */

.recent-work {
    min-height: 2500px;
    max-height: 2600px;
    width: 100%;
    // background-color: rgb(204, 204, 204);

    margin-bottom: 30px;
    padding: 10px 20px;

    .recent-work-button {
        
        min-height: 145px;
        
        padding: 20px 35px;
        border-radius: 3px ;

        background-color: #333;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        
        /* identical to box height, or 159% */
        text-align: center;
        letter-spacing: 0.2px;
        
        color: #FFFFFF;
            
        text-decoration: none;
        
    }

    .recent-work-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 72px;

        /* identical to box height, or 125% */
        letter-spacing: 0.2px;

        color: #1f1f1f;
    }

    .recent-work-blocks-row {
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        flex-wrap: wrap;



        .recent-work-block {
            margin-bottom: 70px;


            .recent-work-block-img {
                position: relative;
                margin-bottom: 30px;
                padding-bottom: 20px;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    display: block;
                    bottom: 0;
                    height: 1px;
                    width: 100%;
                    background-color: #000;
                }

            }

            .recent-work-block-title {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 23px;
                line-height: 34px;

                /* identical to box height, or 146% */
                letter-spacing: 0.2px;

                color: #464542;
            }

            .recent-work-block-desc {
                font-family: "Libre Baskerville";
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;

                /* identical to box height, or 160% */
                letter-spacing: 0.4px;

                color: #6d6b67;
                
                i {
                    font-weight: 800;
                    font-style: bold;
                }
            }
        }
    }
}
