* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BASE */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
.header {
}

/* NAVBAR */
.navbar {
    // background-color: rgb(201, 196, 196);
    background-color: #fff;

    .navbar-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        min-height: 75px;
        max-height: 75px;

        margin: 0px 40px;

        .navbar-logo {
        }

        .navbar-item {
            ul {
                list-style-type: none;
                padding: 0 0;
                margin: 0 0;

                li {
                    display: inline;
                    padding: 0;
                    margin: 0;

                    a {
                        text-decoration: none;

                        color: #1f1f1f;

                        font: normal 400 15px/22px "Inter";
                    }
                }

                li + li {
                    padding-left: 28px;
                }
            }
        }
    }
}

/* HERO */

.hero {
    max-height: 800;
    min-height: 800px;
    width: 100%;

    margin-bottom: 60px;

    .hero-text {
        .hero-title {
            padding-top: 50px;
            padding-left: 37px;
            margin-bottom: 35px;
            max-width: 935px;

            font: normal 700 72px/90px "Inter";
            letter-spacing: 125%;
            color: #1f1f1f;
        }

        .hero-desc {
            display: flex;
            align-items: center;
            justify-content: right;

            padding-right: 80px;

            .hero-desc-text {
                display: flex;
                align-items: start;
                flex-direction: column;

                min-width: 350px;
                max-width: 350px;
                min-height: 180px;
                max-height: 180px;

                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;

                /* or 150% */
                letter-spacing: 0.2px;

                color: #1f1f1f;
            }

            .hero-desc-text + .hero-desc-text {
                padding-left: 45px;
            }
        }
    }
}

/* RECENT WORK */

.recent-work {
    min-height: 2500px;
    max-height: 2600px;
    width: 100%;
    // background-color: rgb(204, 204, 204);

    margin-bottom: 30px;
    padding: 10px 20px;

    .recent-work-button {
        min-height: 145px;

        padding: 20px 35px;
        border-radius: 3px;

        background-color: #333;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;

        /* identical to box height, or 159% */
        text-align: center;
        letter-spacing: 0.2px;

        color: #ffffff;

        text-decoration: none;
    }

    .recent-work-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 72px;

        /* identical to box height, or 125% */
        letter-spacing: 0.2px;

        color: #1f1f1f;
    }

    .recent-work-blocks-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        .recent-work-block {
            margin-bottom: 70px;

            .recent-work-block-img {
                position: relative;
                margin-bottom: 30px;
                padding-bottom: 20px;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    display: block;
                    bottom: 0;
                    height: 1px;
                    width: 100%;
                    background-color: #000;
                }
            }

            .recent-work-block-title {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 23px;
                line-height: 34px;

                /* identical to box height, or 146% */
                letter-spacing: 0.2px;

                color: #464542;
            }

            .recent-work-block-desc {
                font-family: "Libre Baskerville";
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;

                /* identical to box height, or 160% */
                letter-spacing: 0.4px;

                color: #6d6b67;

                i {
                    font-weight: 800;
                    font-style: bold;
                }
            }
        }
    }
}

/* STAT */
.section-stat {
    margin-bottom: 80px;

    min-height: 650px;
    background-color: #f7f6f3;
    color: rgb(0, 0, 0);
    width: 100%;

    .section-stat-row {
        padding: 80px 20px;
        display: flex;
        justify-content: space-between;

        .section-stat-left-column {
            .section-stat-title {
                max-width: 300px;

                font-family: "Libre Baskerville";
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 49px;

                /* identical to box height, or 141% */
                letter-spacing: 0.2px;

                color: #1f1f1f;
            }
        }

        .section-stat-right-column {
            display: flex;
            flex-direction: column;

            .section-stat-right-column-title {
                padding-right: 10px;
                text-align: left;
                max-width: 530px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 27px;

                /* or 159% */
                letter-spacing: 0.2px;

                color: #1f1f1f;

                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    top: -20%;
                    left: 0;
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: #000;
                }
            }

            .section-stat-right-column-characteristic {
                display: flex;
                align-items: center;
                align-self: flex-start;
                flex-wrap: wrap;
                max-width: 500px;

                .section-stat-right-column-characteristic-block {
                    padding-top: 50px;
                    min-height: 100px;
                    min-width: 100px;
                    color: #fff;
                    // background-color: #111;

                    margin: 10px 50px;
                    // padding: 30px;

                    .section-stat-right-column-characteristic-title {
                        font-family: "Libre Baskerville";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 72px;
                        line-height: 72px;

                        /* identical to box height, or 100% */
                        letter-spacing: 0.2px;

                        color: #1f1f1f;
                    }

                    .section-stat-right-column-characteristic-desc {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 27px;

                        /* identical to box height, or 169% */
                        letter-spacing: 0.2px;

                        color: #1f1f1f;
                    }
                }
            }
        }
    }
}

/*  EXPERIENCE */
.section-experience {
    min-height: 600px;
    max-height: 600px;
    width: 100%;
    // background-color: rgb(175, 175, 175);

    display: flex;
    justify-content: space-between;

    .experience-text {
        padding: 10px 0px 0px 30px;
        text-align: left;
        max-width: 639px;
        min-height: 600px;
        position: relative;

        &::before {
            margin-left: 30px;
            position: absolute;
            content: "";
            top: -1%;
            left: 0;
            display: block;
            height: 1px;
            width: 100%;
            background-color: #000;
        }

        .experience-text-title {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;

            /* or 150% */
            letter-spacing: 0.2px;

            color: #1f1f1f;

            max-width: inherit;
        }
    }

    .experience-text-desc {
        padding-top: 30px;
        display: flex;
        flex-direction: row;

        .experience-text-desc-block {
            min-width: 300px;

            .experience-text-desc-block-title {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 30px;

                /* identical to box height, or 158% */
                letter-spacing: 0.2px;

                color: #1f1f1f;
            }

            .experience-text-desc-block-text {
                padding-top: 20px;

                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;

                /* or 150% */
                letter-spacing: 0.2px;

                color: #1f1f1f;
            }
        }

        .experience-text-desc-block + .experience-text-desc-block {
            padding-left: 50px;
        }
    }

    .experience-right-column {
        margin-right: 50px;
        // background-color: rgb(226, 226, 226);

        .experience-right-column-title {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 37px;
            line-height: 49px;

            /* identical to box height, or 134% */
            letter-spacing: 0.2px;

            color: #1f1f1f;
        }

        .experience-right-column-desc {
            padding-top: 60px;

            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 27px;

            /* identical to box height, or 159% */
            text-align: center;
            letter-spacing: 0.2px;

            color: #1f1f1f;
        }
    }
}

/* RECENT CLIENTS */
.recent-clients {
    min-height: 500px;
    background-color: #f7f6f3;

    .recent-clients-title {
        padding-top: 45px;
        padding-bottom: 90px;

        font-family: "Libre Baskerville";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 49px;

        text-align: center;
        letter-spacing: 0.2px;

        color: #1f1f1f;
    }

    .recent-clients-block {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 1000px;

        .recent-clients-block-img + .recent-clients-block-img {
        }

        .recent-clients-block-top {
            padding-right: 50px;
            padding-left: 50px;
            display: flex;
            justify-content: space-between;

            margin-bottom: 60px;
            position: relative;

            &::before {
                // margin-left: 30px;
                margin: 0 auto;
                position: absolute;
                content: "";
                top: -100%;
                left: 0;
                display: block;
                height: 1px;
                width: 100%;
                background-color: #000;
            }
        }

        .recent-clients-block-down {
            padding-right: 50px;
            padding-left: 50px;

            display: flex;
            justify-content: space-between;

            position: relative;

            &::before {
                // margin-left: 30px;
                position: absolute;
                content: "";
                margin: 0 auto;
                left: 0;
                bottom: -100%;
                display: block;
                height: 1px;
                width: 100%;
                background-color: #000;
            }
        }
    }
}

/* READY TO START SECTION */
.ready-to-start {
    min-height: 150px;
    background-color: #e0f391;
    
    .ready-to-start-row { 
        margin: 0 auto;   
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        
        position: relative;

        &::before {
            // margin-left: 30px;
            position: absolute;
            content: "";
            margin: 0 auto;
            top: 40%;
            left: 0;
            display: block;
            height: 1px;
            width: 100%;
            background-color: #000;
        }

        .ready-to-start-title {
            font-family: "Libre Baskerville";
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 42px;

            /* identical to box height, or 150% */
            letter-spacing: 0.2px;

            color: #1f1f1f;
        }

        .ready-to-start-btn {
            display: flex;
            align-items: center;

            padding: 15px 20px;
            max-height: 45px;
            border-radius: 3spx;

            background-color: #1f1f1f;

            text-decoration: none;

            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 27px;

            /* identical to box height, or 159% */
            text-align: center;
            letter-spacing: 0.2px;

            color: #ffffff;
        }
    }
}


/* FOOTER */